<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Food Box</title>
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
	integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
	crossorigin="anonymous">
		<style>
	body{
	background-color:#f8e9a1;
	}
	</style>
</head>
<body>
	<br>
	<div class="container" style="text-align: right">
		<a th:href="@{/}" class="btn btn-primary btn-sm mb-3">Back to Home</a>
		<form th:action="@{/buyNow}", method="POST">
			<label  class="radio-inline">Payment Made</label>
   				<input type="radio" name="pm" id="yes"  value="yes"/><label for="yes">YES</label>
 				<input  type="radio" name="pm"  id="no" value="no"/><label for="no">NO</label>
 				<button class="btn btn-info col-2" type="submit">Buy All Now</button>
		</form>
<!-- 		<a th:href="@{/buyNow}" class="btn btn-primary btn-sm mb-3">Buy all Now</a> -->
	</div>
	<hr>
	<div class="container my-2">
		<center><h1><span>Products in cart currently which Total Costs </span><span style="color:Brown" th:text="${session.sessionCost}"></span></h1></center>
		<h6 th:text="${action}" style="text-align: center; color: red"></h6>
		<span th:text="${session.action}"
			style="text-align: center; color: red"></span>
		<table border="1" class="table table-striped table-responsive-md">
			<thead>
				<tr>
					<th>Product Id</th>
					<th>Quantity</th>
					<th>Price</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="cart : ${cartList}">
					<td th:text="${cart.productId}"></td>
					<td th:text="${cart.quantity}"></td>
					<td th:text="${cart.price}"></td>
				</tr>
			</tbody>

		</table>
		
		
		
			<div class='container'>
		<h1>Add Personal Info and payment </h1>

		<form action='http://localhost:8090/' method=GET>
					<div class="form-group">
						<label for="username">Name:</label> <input type="text"
							class="form-control" id="name" placeholder="Max Mustermann"
							name="name">
					</div>
					<br/>
					<div class="form-group">
						<label for="username">Street:</label> <input type="text"
							class="form-control" id="street" placeholder="street and number"
							name="street">
					</div>
					<br/>
					<div class="form-group">
						<label for="username">City:</label> <input type="text"
							class="form-control" id="airlineId" placeholder="city"
							name="city">
					</div>
					<br/>
					<div class="form-group">
						<label for="username">Credit Card Number:</label> <input type="text"
							class="form-control" id="ccno" placeholder="credit Card Number"
							name="ccno">
					</div>
					<br/>
		
		
		
		<button onclick="myFunction()">Complete payment</button>
		
		<p id="payment">Please complete the payment.Once the payment is collected. You will be redirected to select more food items if needed. </p>
		
		
		<script>
function myFunction() {
  document.getElementById("payment").innerHTML = "Enjoy your food. Payment done";
}
</script> 
			
			

			
			
		</form>
	</div>
		
		
		
		
		
		
		
		
		
		
	</div>
</body>
</html>